@model BalloonWorld.Models.balloonoccasionviewmodel

@{
}
    

<h1>Ballon World</h1>

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/images/three.jpeg');
       
        background-size: cover;
        height: 50vh; /* Ensure the background covers the full height of the viewport */
    }

    .text-center {
        text-align: center;
        padding: 50px; /* Adjust as needed */
        color: midnightblue; /* Optional: set text color to be visible against the background */
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Balloons" asp-action="Index" method="get">
    <p>
        <select asp-for="balloonoccasion" asp-items="Model.occasion">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balloons![0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balloons![0].Occasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balloons![0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balloons![0].Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balloons![0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Balloons!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
